<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Stories</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/my-stories.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Hind:wght@400;600&family=Playfair+Display+SC:ital,wght@1,900&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <header id="banner">
    </header>
    <main class='story-preview-container'>
      <div class='in-progress'>
        <h2> In Progress </h2>
        <div class="story-scroll">
          <% for (const complete of storyData.completed) { %>
            <article class="story-preview">
              <header class="story-title">
                <a href="">
                  <%= complete.story.title %>
                </a>
              </header>
              <p>
                <% const words=complete.lastChapter.content.split(' '); %>
            <% const remainingWords = words.slice(25); %>
            <%= remainingWords.join(' ') %>
          </p>
          <footer>
            <button class="story-status">
              In Progress
            </button>
            <h4 class="user-handle-red">
              <@userhandle>
            </h4>
          </footer>
        </article>
        <% } %>
      </div>
    </div>
    <div class=' Completed'>
                  <h2> Completed </h2>
                  <div class="story-scroll">
                    <% for (const inProgress of storyData.inProgress) { %>
                      <article class="story-preview">
                        <header class="story-title">
                          <a href="">
                            <%= inProgress.story.title %>
                          </a>
                        </header>
                        <p>
                          <% const words=inProgress.lastChapter.content.split(' '); %>
            <% const remainingWords = words.slice(25); %>
            <%= remainingWords.join(' ') %>
          </p>
          <footer>
            <button class="story-status">
              In Progress
            </button>
            <h4 class="user-handle-red">
              <@userhandle>
            </h4>
          </footer>
        </article>
        <% } %>
      </div>
    </div>
  </main>
</body>

</html>

</html>