<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/read-chapter.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Hind:wght@400;600&family=Playfair+Display+SC:ital,wght@1,900&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <main class="chapter-layout">
      <div class="chapter-information">
        <header class="story-details">
          <h1>
            Chapter <%= currentChapterNumber %>: <%= storyTitle %>
          </h1>
          <button>
            <%= username %>
          </button>
        </header>
        <footer>
          <a href="/chapters/new?prevChapterId=<%= chapter.id %>">Contribute</a>
          <button>
            3000 Likes
          </button>
        </footer>
      </div>
      <div class="page-content">
        <div class="story-text">
          <p>
            <%= chapter.content %>
          </p>
        </div>
        <div class="story-container">
          <h2>
            See What Happens Next...
          </h2>
          <div class="story-scroll">
            <!-- Repeat this article block for each article -->
            <% stories.forEach((story) => { %>
            <article class="story-preview">
              <header class="story-title">
                <a href=""><%= storyTitle %></a>
              </header>
              <p>
                <%= chapter.content.slice(0, 25) %>
              </p>
              <footer>
                <button class="story-status">
                  <% if (chapter.complete) { %>
                    Completed
                  <% } else { %>
                    In-progress
                  <% } %>
                </button>
                <h4 class="user-handle-red">
                  <%= chapter.user_id %>
                </h4>
              </footer>
            </article>
            <% }) %>
            <!-- Repeat this article block for each article -->
            <article class="story-preview">
              <header class="story-title">
                <a href="">This is the story title</a>
              </header>
              <p>
                This is the story content, the first line will be typed here to get the reader hooked. Until a certain
                limit
                is
                reached the story will show...
              </p>
              <footer>
                <button class="story-status">
                  Rejected
                </button>
                <h4 class="user-handle-red">
                  @userhandle
                </h4>
              </footer>
            </article>
            <article class="story-preview">
              <header class="story-title">
                <a href="">This is the story title</a>
              </header>
              <p>
                This is the story content, the first line will be typed here to get the reader hooked. Until a certain
                limit
                is
                reached the story will show...
              </p>
              <footer>
                <button class="story-status">
                  Rejected
                </button>
                <h4 class="user-handle-red">
                  @userhandle
                </h4>
              </footer>
            </article>
            <article class="story-preview">
              <header class="story-title">
                <a href="">This is the story title</a>
              </header>
              <p>
                This is the story content, the first line will be typed here to get the reader hooked. Until a certain
                limit
                is
                reached the story will show...
              </p>
              <footer>
                <button class="story-status">
                  Rejected
                </button>
                <h4 class="user-handle-red">
                  @userhandle
                </h4>
              </footer>
            </article>
          </div>
        </div>
      </div>
    </main>

</body>

</html>
