<!DOCTYPE html>
<html lang="en">

<head>
  <title>Read Chapter</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/read-chapter.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Hind:wght@400;600&family=Playfair+Display+SC:ital,wght@1,900&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <main class="chapter-layout">
      <div class="chapter-information">
        <header class="story-details">
          <h1>
            Chapter <%= currentChapterNumber %>: <%= storyTitle %>
          </h1>
          <button>
            <%= username %>
              @john.doe
          </button>
        </header>
        <footer>
          <% if (!complete) { %>
            <a href="/chapters/new?prevChapterId=<%= chapter.id %>">Contribute</a>
            <% } %>

              <button id='likes'>
                <%= votes %> Likes
              </button>

        </footer>
      </div>
      <div class="page-content">
        <div class="story-text">
          <p>
            <%= chapter.content %>
          </p>
        </div>
        <div class="story-container">
          <h2>
            See What Happens Next...
          </h2>
          <div class="story-scroll">
            <!-- Repeat this article block for each article -->
            <article class="story-preview">
              <header class="story-title">
                <a href="">
                  A Surprise in the Mail
                  <!-- <%= storyTitle %> -->
                </a>
              </header>
              <p>
                The next thing Lily new, she woke up to see that she had a big surpise in the mail. She was so
                excited, her dreams were finally...
              </p>
              <footer>
                <button class="story-status">
                  Approved
                </button>
                <h4 class="user-handle-red">
                  <!-- <%= chapter.user_id %> -->
                  @lily.rue
                </h4>
              </footer>
            </article>
            <!-- Repeat this article block for each article -->
            <article class="story-preview">
              <header class="story-title">
                <a href="">Lily Quits Coding</a>
              </header>
              <p>
                Eventually Lily got so tired of dealing with all the late nights and debugging, that she decided she
                had enough...
              </p>
              <footer>
                <button class="story-status">
                  Rejected
                </button>
                <h4 class="user-handle-red">
                  @bernie.sanders
                </h4>
              </footer>
            </article>
            <article class="story-preview">
              <header class="story-title">
                <a href="">Lily Gets A Job</a>
              </header>
              <p>
                Lily was so excited! She had finally heard back after months of interviewing...
              </p>
              <footer>
                <button class="story-status">
                  Rejected
                </button>
                <h4 class="user-handle-red">
                  @elon.musk
                </h4>
              </footer>
            </article>
            <article class="story-preview">
              <header class="story-title">
                <a href="">Lily Shares Her Passion</a>
              </header>
              <p>
                Lily thought she would never come to like coding, but boy was she wrong! Now it was all she could
                think about...
              </p>
              <footer>
                <button class="story-status">
                  Rejected
                </button>
                <h4 class="user-handle-red">
                  @jane.doe
                </h4>
              </footer>
            </article>
          </div>
        </div>
      </div>
    </main>

</body>

</html>